<div class="side-item" style="width: 48px;display: flex;justify-content: center;align-items: center;">
    <a href="/admin/changelog" class="item-logo">
        <i class="fa-solid fa-circle-info" style="color: #00aeff"></i>
    </a>
</div>