<div class="side-item">
    <div class="item-logo">
        <label for="changeTheme">
            <i class="fa-solid fa-moon"></i>
            <i class="fa-solid fa-sun hide"></i>
        </label>
        <input
            type="checkbox"
            id="changeTheme"
            class="hide"
            onchange="changeTheme()"
        />
    </div>
</div>