<div class="side-item" style="width: 48px;display: flex;justify-content: center;align-items: center;">
    <a href="/logoff" class="item-logo">
        <i class="fa-solid fa-door-open" style="color: #ff0000"></i>
    </a>
</div>