<div class="success-alert">
    <div class="success-alert-check">
      <i class="fa-solid fa-check"></i>
    </div>
    <div class="success-alert-text">
      <span style="font-size: 1.2rem"><%-message-%></span>
    </div>
    <div class="success-alert-close">
      <i class="fa-solid fa-xmark" style="scale: 0.35"></i>
    </div>
  </div>