<div class="side-item" data-theme="light">
    <div class="item-logo">
    <label for="resize">
        <i class="fa-solid fa-bars"></i>
    </label>
    <input
        type="checkbox"
        id="resize"
        class="hide"
        onchange="resize(this)"
    />
    </div>
    <div class="item-name">
    <span style="cursor: default">Dashboard</span>
    </div>
</div>