<div class="side-item" data-theme="light" onclick="selected(this)">
  <a href="/admin/<%=sidebar_navigation%>">
    <div class="item-logo">
      <%-sidebar_logo-%>
    </div>
    <div class="item-name">
      <span><%-sidebar_item-%></span>
    </div>
  </a>
</div>